<div class="hint-modal">
  <h1 mat-dialog-title>About the web application</h1>
  <div mat-dialog-content>
    This application is designed for taking notes. Create a folder on a specific topic. For example, "Sports".
    <br> And make yourself a series of tasks before a certain deadline.
    <br> You can move tasks between the "TODO" "DOING" "DONE" columns.
    <br> <span class="task-status">"TODO"</span> - <span class="task-status-description">if you haven't started working on this task yet</span>
    <br> <span class="task-status">"DOING"</span> - <span class="task-status-description">if you are actively working on the task</span>
    <br> <span class="task-status">"DONE"</span> - <span class="task-status-description">if you have completed the task</span>
    <br> Once a day you will receive an email message about the deadlines of your tasks
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>

